[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= PKI-Ext_CRT_MO_SUB2_VALID
organizationName		= EVerest
countryName				= DE
domainComponent			= MO

[ext]
basicConstraints		= critical,CA:true,pathlen:0
keyUsage				= critical,digitalSignature,nonRepudiation,keyCertSign,cRLSign
subjectKeyIdentifier	= hash
authorityInfoAccess = OCSP;URI:https://www.example.com/, caIssuers;URI:https://www.example.com/Intermediate-CA.cer

