[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= SECCCertNoDomainComponent
organizationName		= EVerest
countryName				= DE

[ext]
basicConstraints		= critical,CA:false
keyUsage				= critical,digitalSignature,keyAgreement
subjectKeyIdentifier	= hash
