Checks: >
    bugprone-*,
    cert-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    performance-*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -fuchsia-*,
    -google-*,
    -llvm-*,
    -llvmlibc-*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
    -cert-err60-cpp,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-trailing-return-type,
    -performance-avoid-endl,
    -performance-enum-size,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -concurrency-mt-unsafe,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-pro-type-vararg,
# (the last -cppcoreguidelines lines are temporary)
HeaderFilterRegex:  ".*"
CheckOptions:
  - { key: performance-unnecessary-value-param.AllowedTypes, value: ((std::shared_ptr)) }
