# default option unless later match takes precedence
* @pietfried @hikinggrass @corneliusclaussen @SebaLukas @andistorm @mlitre @djchhp @james-ctc @cburandt @florinmihut @a-w50

# .ci
/.ci/ @pietfried @hikinggrass @corneliusclaussen @andistorm @a-w50

# .github
/.github/ @pietfried @corneliusclaussen
/.github/workflows/ @pietfried @corneliusclaussen @andistorm
/.github/workflows/on_label.yaml @andistorm @nzbr

# applications
/applications/pionix_chargebridge @djchhp @corneliusclaussen

# cmake
/cmake/ @hikinggrass @a-w50 @corneliusclaussen @andistorm

# config
/config/ @hikinggrass @pietfried @corneliusclaussen @SebaLukas @mlitre @a-w50

# lib
/lib/3rd_party/nanopb/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/can_dpm1000/ @a-w50 @corneliusclaussen @hikinggrass
/lib/everest/evse_security/ @pietfried @hikinggrass @james-ctc
/lib/everest/gpio/ @corneliusclaussen @hikinggrass @a-w50
/lib/everest/conversions/ @hikinggrass @pietfried @corneliusclaussen @mlitre @a-w50
/lib/everest/slac/ @a-w50 @corneliusclaussen @SebaLukas
/lib/everest/tls/ @james-ctc @mlitre @corneliusclaussen @SebaLukas @pietfried @a-w50
/lib/everest/everest_api_types/ @hikinggrass @pietfried @corneliusclaussen @djchhp @cburandt @florinmihut @a-w50
/lib/everest/io/ @djchhp @corneliusclaussen @hikinggrass @james-ctc @pietfried @mlitre @a-w50

# modules
/modules/API/ @hikinggrass @pietfried @corneliusclaussen @djchhp @SebaLukas @james-ctc @cburandt @florinmihut @a-w50
/modules/API/RpcApi/ @FaHaGit @barsnick @corneliusclaussen @hikinggrass @pietfried @SebaLukas @mlitre
/modules/EnergyManagement/EEBUS/ @mlitre @andistorm @hikinggrass @pietfried
/modules/EnergyManagement/EnergyManager/ @corneliusclaussen @hikinggrass @pietfried @mlitre @djchhp
/modules/EnergyManagement/EnergyNode/ @corneliusclaussen @hikinggrass @pietfried @mlitre @djchhp
/modules/EV/EvSlac/ @a-w50 @corneliusclaussen @SebaLukas @pietfried @hikinggrass
/modules/EV/EvManager/ @SebaLukas @pietfried @james-ctc @mlitre @a-w50
/modules/EV/PyEvJosev/ @SebaLukas @corneliusclaussen @pietfried @james-ctc @mlitre @a-w50
/modules/EVSE/Auth/ @pietfried @corneliusclaussen @hikinggrass @mlitre @a-w50
/modules/EVSE/Evse15118D20/ @SebaLukas @a-w50 @corneliusclaussen @pietfried @hikinggrass @james-ctc @mlitre
/modules/EVSE/EvseManager/ @corneliusclaussen @SebaLukas @hikinggrass @pietfried @mlitre @djchhp @a-w50
/modules/EVSE/EvseSecurity/ @pietfried @hikinggrass @james-ctc @mlitre @SebaLukas @a-w50
/modules/EVSE/EvseSlac/ @a-w50 @corneliusclaussen @SebaLukas @pietfried @hikinggrass
/modules/EVSE/EvseV2G/ @corneliusclaussen @SebaLukas @james-ctc @pietfried @hikinggrass @james-ctc @mlitre @barsnick @FaHaGit @a-w50
/modules/EVSE/OCPP/ @hikinggrass @pietfried @mlitre
/modules/HardwareDrivers/ @pietfried @hikinggrass @corneliusclaussen @florinmihut @cburandt @djchhp @a-w50
/modules/EVSE/OCPP201/ @hikinggrass @pietfried @mlitre
/modules/Examples/CppExamples/error-framework/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Examples/RustExamples/ @SirVer @dorezyuk
/modules/HardwareDrivers/EVSE/MicroMegaWattBSP/ @corneliusclaussen @hikinggrass @a-w50
/modules/HardwareDrivers/EVSE/PhyVersoBSP/ @pietfried @hikinggrass @corneliusclaussen @dorezyuk @rckstrh
/modules/HardwareDrivers/EVSE/YetiDriver/ @corneliusclaussen @hikinggrass @a-w50
/modules/Misc/ErrorHistory/ @corneliusclaussen @hikinggrass @pietfried @andistorm
/modules/Misc/PacketSniffer/ @corneliusclaussen @SebaLukas @hikinggrass @a-w50
/modules/Misc/Setup/ @hikinggrass @corneliusclaussen @pietfried @a-w50
/modules/Simulation/ @SebaLukas @pietfried @hikinggrass @a-w50
/modules/Simulation/SlacSimulator/ @SebaLukas @pietfried @corneliusclaussen @james-ctc @mlitre @a-w50
/modules/Simulation/YetiSimulator/ @SebaLukas @pietfried @corneliusclaussen @james-ctc @mlitre @a-w50
**/Cargo.toml @SirVer @dorezyuk @pietfried @hikinggrass @a-w50
**/Cargo.lock @SirVer @dorezyuk @pietfried @hikinggrass @a-w50


# Rust & Bazel
*.rs @SirVer @dorezyuk @pietfried @hikinggrass @a-w50
*.bazel @SirVer @dorezyuk @pietfried @hikinggrass @a-w50
*.bzl @SirVer @dorezyuk @pietfried @hikinggrass @a-w50

# third-party/bazel
/third-party/bazel/deps_versions.bzl @pietfried @hikinggrass @corneliusclaussen @SebaLukas @a-w50 @SirVer @dorezyuk

/dependencies.yaml @hikinggrass @pietfried @corneliusclaussen @SebaLukas @james-ctc @mlitre @a-w50
/module-dependencies.cmake @hikinggrass @pietfried @corneliusclaussen @SebaLukas @james-ctc @mlitre @a-w50

# yocto
/yocto/ @hikinggrass @corneliusclaussen @james-ctc @andistorm @barsnick @a-w50
