*build*
!lib/everest/*/cmake/*-build.cmake
*dist
.cache/
workspace.yaml
.vscode/
/bazel-*
/modules/target
CMakeLists.txt.user
.idea/
MODULE.bazel.lock
__pycache__/
*.patch
*.diff
*.orig
*.rej

/onfig/custom
/lib
**/Makefile
/generated
/applications
**/CMakeFiles
/CPM_modules
**.cmake
/config/CMakeCache.txt
/CMakeDoxyfile.in
/compile_commands.json
/Doxyfile.doxygen-everest-core
/ev-dev-tools_pip_install_local_installed_0.7.3
/release.json

