*build*/
!.ci/build-kit/
!lib/everest/framework/.ci/build-kit/
!lib/everest/ocpp/doc/common/build-with-fetchcontent/
*dist
.cache/
workspace.yaml
.vscode/
/bazel-*
/modules/target
CMakeLists.txt.user
.idea/
MODULE.bazel.lock
__pycache__/
*.patch
*.diff
*.orig
*.rej
CLAUDE.local.md
