[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= VehicleSubCA2
organizationName		= EVerest
countryName				= DE
domainComponent			= OEM

[ext]
basicConstraints		= critical,CA:true,pathlen:0
keyUsage				= critical,keyCertSign,cRLSign
subjectKeyIdentifier	= hash

