Checks: >
    *,
    bugprone-*,
    cert-*,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    performance-*,
    -abseil-*,
    -altera-*,
    -android-*,
    -boost-*,
    -fuchsia-*,
    -google-*,
    -hicpp-*,
    -llvm-*,
    -llvmlibc-*,
    -zircon-*,
    -bugprone-easily-swappable-parameters,
    -cert-err60-cpp,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-use-default-member-init,
    -misc-include-cleaner,
    -misc-non-private-member-variables-in-classes,
    -modernize-pass-by-value,
    -modernize-use-trailing-return-type,
    -modernize-use-default-member-init,
    -modernize-return-braced-init-list,
    -modernize-use-scoped-lock,
    -modernize-concat-nested-namespaces,
    -modernize-use-nodiscard,
    -modernize-raw-string-literal,
    -performance-avoid-endl,
    -performance-enum-size,
    -performance-unnecessary-value-param,
    -readability-avoid-const-params-in-decls,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-magic-numbers,
    -readability-qualified-auto,
    -readability-simplify-boolean-expr,
    -readability-use-anyofallof,
    -readability-use-std-min-max,
    -readability-redundant-inline-specifier,
    -concurrency-mt-unsafe,
    -portability-avoid-pragma-once,
    -portability-template-virtual-member-function,
    -cppcoreguidelines-avoid-const-or-ref-data-members,
    -cppcoreguidelines-avoid-do-while,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-member-init,
    -cert-err58-cpp,
# (the last -cppcoreguidelines and -cert-err58-cpp lines are temporary)
HeaderFilterRegex:  ".*"
CheckOptions:
  - { key: performance-unnecessary-value-param.AllowedTypes, value: ((std::shared_ptr)) }
  - { key: bugprone-implicit-widening-of-multiplication-result.IgnoreConstantIntExpr, value: true }
