[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= MOCertLeaf_V2G
organizationName		= EVerest
countryName				= DE
domainComponent			= MO

[ext]
basicConstraints		= critical,CA:false
keyUsage				= critical,digitalSignature,keyAgreement
subjectKeyIdentifier	= hash

