[req]
prompt 					= no
distinguished_name		= ca_dn

[ca_dn]
commonName				= SECCGridSyncCert
organizationName		= GridSync
countryName				= DE
domainComponent			= CPO

[ext]
basicConstraints		= critical,CA:false
keyUsage				= critical,digitalSignature,keyAgreement
subjectKeyIdentifier	= hash
authorityInfoAccess = OCSP;URI:https://www.example.com/, caIssuers;URI:https://www.example.com/Leaf-CA.cer