{% from "helper_macros.j2" import insert_block, print_template_info %}
{{ print_template_info('3', 'marked regions will be kept', '#') }}

# module setup:
#   - ${MODULE_NAME}: module name
ev_setup_cpp_module()

{{ insert_block(info.blocks.add_general) }}

target_sources(${MODULE_NAME}
    PRIVATE
        {% for impl in provides %}
        "{{ impl.cpp_file_rel_path }}"
        {% endfor %}
)

{{ insert_block(info.blocks.add_other) }}
