.. {{name}}

******************************
{{ name }}
******************************

Description
###########
{{ manifest.description}}

{% if manifest.config %}
Module Configuration
####################
{% for config_entry in manifest.config -%}

| **{{ config_entry }}**:*{{ manifest.config[config_entry].type}}*
{% if manifest.config[config_entry].default -%}
| *default:    {{ manifest.config[config_entry].default }}*
{%- endif %}
| {{ manifest.config[config_entry].description }}

{% endfor -%}
{% endif %}
Provides
########
{% for implementation in manifest.provides -%}

| **{{ implementation }}**:*{{ manifest.provides[implementation].interface}}*
| {{ manifest.provides[implementation].description}}
{% if manifest.provides[implementation].config -%}
| config:
{% for config_entry in manifest.provides[implementation].config -%}
|  **{{ config_entry }}**:*{{ manifest.provides[implementation].config[config_entry].type}}*
{% if manifest.provides[implementation].config[config_entry].default -%}
|  *default:    {{ manifest.provides[implementation].config[config_entry].default }}*
{% endif -%}
|  {{ manifest.provides[implementation].config[config_entry].description }}
{% endfor -%}
{% endif -%}
{###}
{% endfor -%}
{% if manifest.requires %}
Requirements
############
{% for req in manifest.requires -%}

| **{{ req }}**:*{{manifest.requires[req].interface}}*
{% endfor -%}
{% endif %}
{###}
Metadata
########
Authors
*******
{% for author in manifest.metadata.authors -%}
| {{ author }}
{% endfor -%}
License
*******
{{ manifest.metadata.license }}
{###}
