{%  import 'macros.jinja' as funcs %}
{{ funcs.explicit_target('everest_interfaces_' + name) }}
{{ funcs.h1(name) }}
{{ data.description  | rst_indent() }}
{%  if 'documentation' in interface %}
{{ funcs.documentation(data.documentation) | rst_indent() -}}
{% endif %}

{%  if data.vars %}
{{ funcs.h2('Variables') -}}
{{ funcs.vars(data.vars.items(), False) | rst_indent() -}}
{%  endif %}

{% if data.cmds %}
{{ funcs.h2('Commands') -}}
{{ funcs.cmds(data.cmds.items()) | rst_indent() -}}
{% endif %}
