<html>
<title>
All Versions of EVerest documentation
</title>
<body>
<h1>All Versions of EVerest documentation</h1>
{% for version in version_list%}
<a href="./{{ version }}/index.html">{{ version }}</a> -> <a href="./{{ version }}/appendix/snapshot.html">snapshot.yaml</a>
{% endfor %}
</body>
</html>
