# Main Sphinx library
sphinx

# The Furo theme
furo

# Provides modern design elements like grids, cards, and tabs
sphinx-design

# Adds a "copy" button to code blocks for a better user experience
sphinx-copybutton

# Required for processing templates
PyYAML
