name: Build and deploy sphinx documentation

on:  
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  build-sphinx:
    name: Build sphinx documentation
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    container: 
      image: ghcr.io/everest/everest-ci-env:feature-deploy-multiple-doc-versions
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.SA_GITHUB_PAT }}
    steps:
    # Prepare working directory
    - name: Checkout EVerest/EVerest
      uses: actions/checkout@v2
      with:
        repository: everest/everest
        ref: ${{ github.ref }}
        path: everest
        token: ${{secrets.SA_GITHUB_PAT}}
        fetch-depth: 0
    - name: Checkout EVerest/everest-core
      uses: actions/checkout@v2
      with:
        repository: everest/everest-core
        ref: main
        path: everest-core
        token: ${{secrets.SA_GITHUB_PAT}}
        fetch-depth: 0

    - name: Prebuild and build all branches/version of sphinx doc
      run: sphinx-multiversion everest/docs docs-html/ -D smv_prebuild_command='python3 ${SPHINX_MULTIVERSION_SOURCEDIR}/scripts/prebuild-everest-doc.py --doc-directory ${SPHINX_MULTIVERSION_SOURCEDIR}/ --core-directory $(pwd)/everest-core'
    - name: Copy redirect index.html
      run: cp everest/docs/index.html docs-html/

    - name: Upload generated html files
      uses: actions/upload-artifact@v3
      with:
        name: docs-html
        path: docs-html/

  deploy-sphinx:
    needs: build-sphinx
    name: Deploy sphinx documentation
    strategy:
      matrix:
        os: [ubuntu-20.04]
    runs-on: ${{matrix.os}}
    container: 
      image: ghcr.io/everest/everest-ci-env:main
      credentials:
        username: ${{github.actor}}
        password: ${{secrets.SA_GITHUB_PAT}}
    steps:
    - name: Add ssh key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SA_GITHUB_SSH_KEY }}
        known_hosts: unnecessary
    - name: Configure git
      run: |
        git config --global user.email "compiler@pionix.de"
        git config --global user.name "Github Service Account"

    - name: Download generated html files
      uses: actions/download-artifact@v3
      with:
        name: docs-html
        path: docs-html/
    - name: Checkout everest.github.io
      uses: actions/checkout@v2
      with:
        repository: everest/everest.github.io
        path: everest_github_io
        token: ${{secrets.SA_GITHUB_PAT}}
        ref: main
        fetch-depth: 0

    - name: Update doc and push it
      run: |
        rm -rf everest_github_io/docs/*
        cp -r docs-html/* everest_github_io/docs
        touch everest_github_io/docs/.nojekyll
        cd everest_github_io
        git add --all
        git diff-index --quiet HEAD || git commit -m "Update doc build $(date -R)"

    - name: Push updated doc to everest.github.io
      if: ${{ !env.ACT }}
      run: |
        cd everest_github_io
        git push
